.anyworka__navbar-link_logo img{
    display: none;
    margin-right: 1rem;
}
.anyworka__navbar-link_logo, .logo{
    font-size: 14px;
    font-weight: 900;
    height: 20px;
width: 74px;
color: #fcfcfc;
/* justify-content: ; */

}

.anyworka__navbar{
    display:flex;
    /* flex-wrap: wrap; */
    
    /* justify-content: space-evenly;  */
    /* align-items: center; */
    /* justify-content: center; */

    padding: 2rem 3rem;
}

.anyworka__navbar-links{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    /* align-content: center; */

}
.anyworka__navbar-links_container{
    display: flex;
    



}

.anyworka__navbar-links_container p, 
.anyworka__navbar-sign p,
.anyworka__navbar-menu_container p {
    font-family: var(--font-family);
    color: var(--color-text);
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-transform: capitalize;

margin: 0 1rem;
cursor: pointer;

}


.anyworka__navbar-sign{
    color: #fcfcfc;


/* flex: 1; */
display: flex;

justify-content: flex-end;
/* background: red; */
align-items:center;

    /* justify-content: center; */
    /* font-family: Jost; */
/* font-size: 14px; */
/* font-weight: 500; */
/* line-height: 20px; */

}
button{
    color: #fcfcfc;
}
.anyworka__navbar-menu
.anyworka__navbar-menu_container-links-sign button, .anyworka__navbar-menu_container-links-sign button p{
    background: var(--color-footer);
    border: none;
}
.anyworka__navbar-sign button,
.anyworka__navbar-menu_container button p{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    /* margin: 1 0.5rem; */
    /* padding:0.5rem; */
    /* text-align: center; */
    /* align-items: end; */

    font-family: var(--font-family);

    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    outline: none;
    cursor: pointer;
    border: 0;
    background: #0f3530;
    color: #fcfcfc;

}

.anyworka__navbar-menu{
    margin-left: 10rem;

    display: none;
    position: relative;
}
.anyworka__navbar-menu svg{
   cursor: pointer;
}

.anyworka__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top:40px;
    right: 0;
    margin-top: 1rem;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.4);
    

}
.anyworka__navbar-menu_container p{
    margin: 1rem 0;
}
.anyworka__navbar-menu_container-links-sign {
display: none;
}

@media screen and (max-width: 1050px){
    .anyworka__navbar-links_container{
        display:none
    }
    .anyworka__navbar-menu{
        display: flex;

    }
}  


@media screen and (max-width: 700px){
    .anyworka__navbar{
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px){
    .anyworka__navbar{
        padding: 2rem;
    }
    .anyworka__navbar-sign{
        display: none;
    }
    .anyworka__navbar-menu_container{
top: 10px;    }

.anyworka__navbar-menu_container-links-sign {
    display: block;
    }
}